{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="btn text-center pb-2 fa fa-3x"style="background-color: {{ category.color }}" >Catégorie: <i class="fa {{ category.icon }}"></i>  {{ category.label }}</h1>
    </div>

    <div class="container">
        <h2>Les derniers objets trouvés dans {{ category.label }}</h2>

        <section class="row">
            <article class="col-md-3">
            {% for traobject in traobjects if traobject.state.label == "trouvé" %}

                {% include 'traobject/card.html.twig' with {'traobject' : traobject} only %}

            {% endfor %}
            </article>
        </section>
    </div>

    <div class="container">
        <h2>Les derniers objets perdus dans {{ category.label }}</h2>
        <section class="row">
            <article class="col-md-3">

            {% for traobject in traobjects if traobject.state.label == "perdu" %}

                {% include 'traobject/card.html.twig' with {'traobject' : traobject} only %}

            {% endfor %}
            </article>
        </section>
    </div>
{% endblock %}
