{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img class="mr-3" src="{{ asset('uploads/' ~ app.user.picture) }}" alt="{{ app.user.lastname }}">
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-danger" href="{{ path('user_edit', {'id': app.user.id}) }}">Editer profil</a>


{% endblock %}
